body{
  margin-right:auto;
  width: 1124px;
  min-height: 2020px;
  
}
header{
    display: flex;
    width: 1124px;
    height: 72px;
    margin:auto;
    border-bottom:
  2px solid gray;
box-shadow:0 -10px 0 0 rgba(38, 38, 38, 0.16);
}
header .logo{
    margin-left: 10px;
}
header > div{
    margin-left: 10px;
    float: left;
}
.items{
    display: flex;
    width: 1124px;
    flex-wrap: wrap;
    margin:auto;
}
.store{
    margin-left: 10px;
}